<%- include('head.ejs') %>

<div style="width: 100%;">
    <h3 class="headtext p-3"><i class="fa-solid fa-cog"></i> Banner management</h3>
    <div class="productsNav mt-3 mb-5">
        <button class="btn btn-success" id="openAddBanner"><i class="fa-solid fa-plus"></i> Banner</button>
    </div>
    <div class="banners">
        
    </div>
</div>

<%- include('foot.ejs') %>