<%- include('chead.ejs') %>

    <div class="main-panel">
        <div class="content-wrapper">
            <h3>ERROR <%= on?on:'' %>
            </h3>
            <h5>
                <%= error?error:'' %>
            </h5>
        </div>
    </div>

    <%- include('cfoot.ejs') %>