@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.adminData {
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adminData img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.adminData span {
  padding: 5px 7px;
  font-weight: 500;
}
.productsNav {
  width: 100%;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}
.searchBar {
  width: 300px;
  border: 2px solid rgb(37, 37, 37);
  border-radius: 50px;
  padding: 2px 10px;
}
.searchBar input {
  outline: none;
  border: none;
  width: 90%;
  background: none;
  color: white;
}
.tableWrapper {
  padding: 0 30px;
}
.popUp {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.519);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.popUp .formDiv {
  background: white;
  padding: 15px 20px;
  border-radius: 10px;
  min-width: 45%;
  max-height: 90%;
  overflow-y: scroll;
}
#image-preview {
  display: flex;
  flex-wrap: wrap;
}
.preview-image {
  max-width: 80px;
  max-height: 80px;
  margin: 10px;
}
.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.popUp-edit {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.519);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.popUp-edit .formDiv {
  background: white;
  padding: 15px 20px;
  border-radius: 10px;
  min-width: 45%;
  max-height: 90%;
  overflow-y: scroll;
}
.closeBtn-edit {
  position: absolute;
  top: 10px;
  right: 10px;
}
.viewUser{
  background: rgb(233, 233, 233);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}

.gcard2{
  display: flex;
}
.gcard2 img{
  width: 110px;
  border-radius: 10px;
  object-fit: cover;
}
.coupon-card{
  background: rgb(26, 33, 42);
  border-radius: 7px;
  border: 1px solid grey;
}

.coupon-card h4 span{
  border: 2px solid orange;
  border-style: dotted;
  padding: 0 5px;
  border-radius: 5px;
}